*{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.5s;
}

html, body{
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    color: rgb(255, 255, 255);
    margin: 1em;
}

h2{
    margin: 0.5em;
}

.title{
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15em;
    height: 15em;
    border-radius: 2em;
    padding: 1em;
    margin: 0.2em;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.inner{
    display: flex;
    flex-direction: column;
}

.box:hover{
    box-shadow: 
        inset   0em -3em 3em rgba(0, 0, 0, 0.5);
}

.box:hover .inner{
    max-height: 5em;
    transition: max-height 0.25s ease-in;
}

.box .inner{
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.bg-black{
    background: #161616;
}

.bg-green{
    background: #346751;
}

.bg-orange{
    background: #C84B31;
}

.bg-yellow{
    background: #ECDBBA;
}
